*{
    max-width: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #000000;
}

::-webkit-scrollbar{
    width: 8px;
 
}

::-webkit-scrollbar-thumb{
    background-color: #ffb800;
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    background-color: black;
}

/*-=-=-=-=-=-=-=-*/
/*     HEADER   */
/*-=-=-=-=-=-=-=-*/

header{
    background:linear-gradient(180deg, rgba(0, 0, 0, 0.637) 0%, #000000 100%), url(../img/aurora/aurora-boreal6.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    height: 1000px; 
}

h1{
    font-family: Roboto;
    width: 719px;
    position: relative;
    font-size: 130px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: Roboto;
    color: #d9d9d9;
    display: inline-block;
    margin-left: 50px;
    padding-bottom: 70px;
}

p{

    position: relative;
    font-size: 20px;
    font-family: Roboto;
    color: #fff;
    text-align: left;
    display: inline-block;
    height: 75px;
    margin-left: 50px;
    max-width: 50%;

}


button{
    background-color: transparent;
    border: none;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 90px;
}

button:hover{
    scale: 1.01;
}


/*-=-=-=-=-=-=-*/
/*   O QUE É   */
/*-=-=-=-=-=-=-*/

.sec3{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #000000;
    padding: 80px;
    margin: auto;
}

.sec3 h1{
    font-family: Racing Sans One;
    font-size: 50px;
    margin: auto;
    text-align: left;
    margin-left: 90px;
}

.sec3 p{
    font-family: Lexend;
    font-size: 20px;
    max-width: 80%;
    text-align: justify;
    margin: auto;
}

.sec3 img{
    display: grid;
    justify-content: center;
}

.txt-sec3{
    display: grid;
}

.foto-sec3{
    display: grid;
    justify-content: center;
}

#frase{
    color: #ffb800;
}


/*-=-=-=-=-=-=-=-=-=-=-=-*/
/*   BOREAL VS AUSTRAL   */
/*-=-=-=-=-=-=-=-=-=-=-=-*/

#sec1{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    background-color: #000000;
    padding: 80px;
}

#sec1 h1{
    font-family: Racing Sans One;
    font-size: 40px;
    margin: 0;
    text-align: left;
}

#sec1 p{
    font-family: Lexend;
    font-size: 20px;
    max-width: 80%;
    text-align: justify;
    margin: 0%;
}

#sec1 img{
    margin: 0;
}

.txt-sec1{
    display: grid;
    justify-content: center;
}

.foto-sec1{
    display: grid;
    justify-content: center;
}

#frase{
    color: #ffb800;
}


.parallax{
    background-image: url(../img/aurora/aurora-boreal8.jpg);
    background-attachment: fixed;
    background-position: center bottom ;
    filter: brightness(40%);
    height: 600px;
}


/*-=-=-=--*/
/*  Last  */
/*-=-=-=--*/

.sec_3 {
    margin: auto;
    width: 1060px;
    text-align: center;
    margin-bottom: 50px;
    
}

.titulo{
    font-family: lexend;
    color: #d9d9d9;
    text-transform: uppercase;
    font-size: 40px;
}

.sec-final{
    background-color: #ffb800;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.sec-final p{
    font-family: Lexend;
    font-size: 16px;
    text-align: center;
    color: #303030;
    max-width: 70%;
    margin: 0%;
}


/*=*=*=*=*=*=*=*=*=*/
/*     FOOTER      */
/*=*=*=*=*=*=*=*=*=*/

footer {
width: 100%;
color: #D9D9D9;
background-color: #080808;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
align-items: center;
padding-top: 20px;
padding-bottom: 20px;
justify-items: center;
}


.ft-contatos img{
width: 30px;
padding: 10px;
padding-top: 0%;

}

.ft-contatos{
margin-left: 100px;
}

.ul{
display: flex;
list-style: none;
gap: 5px;
align-items: center;

}

.li{
text-decoration: none;
text-transform: uppercase;
color: #D9D9D9;
font-family: Lexend;
transition: all 0.3s;
}

.li:hover{
color: #ffb800;
text-decoration: underline 2px;
}

label {
font-size: 12px;
font-family: Lexend;
}

#footer-subscribe{
display: flex;
flex-direction: column;
gap: 10px;
}

input{
padding: 8px;
border: none;
border-radius: 10px;
}

#submit{
background-color: #ffb800;
font-family: Lexend;
font-weight: 800;
text-transform: uppercase;
transition: all 0.3s;
}

#submit:hover{
scale: 1.05;
}