
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/aurora-boreal/stars.gif);
}

h1 {
color: #ffb800;
font-family: racing sans one;
text-align: center;
margin: 120px 600px 20px 600px;
font-size: 70px;
border-bottom: groove 2px #D9D9D9;
}


/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*   O QUE É AURORA BOREAL?  */
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

.container-explicacao {
display: flex;
background-color: white;
margin-top: 100px;
}

.img-aurora-1 {
width: 1100px;
height: 600px;
}

.text-explicacao {
margin-top: 50px;
margin-left: 50px;
}

.h3-explicacao {
color: #030712;
margin-bottom: 50px;
font-family: racing sans one;
font-size: 60px;
border-bottom: groove 2px #030712;
margin-right: 300px;
}

.p-explicacao {
color: #030712;
font-family: roboto condensed;
font-size: 30px;
text-align: justify;
margin-right: 300px;
}


/*=*=*=*=*=*=*=*=*=*=*=*=*/
/*   BOREAL VS. AUSTRAL  */
/*=*=*=*=*=*=*=*=*=*=*=*=*/

.container-vs {
display: flex;
flex-direction: column;
margin-top: 150px;
margin-bottom: 300px;
}

.text-vs {
background-color: white;
color: #030712;
margin: 0px 500px 0px 500px;
padding: 20px 50px 50px 50px;
border-radius: 0px 30px 30px 30px;
}

.h3-vs {
font-family: racing sans one;
font-size: 50px;
margin-bottom: 18px;
}

.p-vs {
font-family: roboto condensed;
font-size: 30px;
}


/*=*=*=*=*=*=*=*=*=*=*=*=*/
/*        PAÍSES         */
/*=*=*=*=*=*=*=*=*=*=*=*=*/

.titulo-paises {
color: white;
margin-top: 100px;
margin-bottom: 100px;
display: flex;
flex-direction: column;
align-items: center;
}

.h3-paises {
font-family: racing sans one;
font-size: 50px;
}

.h3-paises2 {
font-family: racing sans one;
font-size: 50px;
background-color: #ffb800;
margin-bottom:50px;
}

.container-paises {
background-image: url(../img/aurora-boreal/auroraboreal3.jpg);
background-size: cover;
background-repeat: no-repeat;
color: white;
}

.pais {
display: flex;
flex-direction: row;
padding-left: 800px;
padding-top: 40px;
padding-bottom: 40px;
}

.bandeira {
width: 300px;
padding-right: 20px;
}

.h3-nome-pais {
display: flex;
align-items: center;
font-family: racing sans one;
font-size: 30px;
}


/*=*=*=*=*=*=*=*=*=*/
/*     FOOTER      */
/*=*=*=*=*=*=*=*=*=*/

footer {
width: 100%;
color: #D9D9D9;
background-color: #080808;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
align-items: center;
padding-top: 20px;
padding-bottom: 20px;
justify-items: center;
}


.ft-contatos img{
width: 30px;
padding: 10px;
padding-top: 0%;

}

.ft-contatos{
margin-left: 100px;
}

.ul{
display: flex;
list-style: none;
gap: 5px;
align-items: center;

}

.li{
text-decoration: none;
text-transform: uppercase;
color: #D9D9D9;
font-family: Lexend;
transition: all 0.3s;
}

.li:hover{
color: #ffb800;
text-decoration: underline 2px;
}

label {
font-size: 12px;
font-family: Lexend;
}

#footer-subscribe{
display: flex;
flex-direction: column;
gap: 10px;
}

input{
padding: 8px;
border: none;
border-radius: 10px;
}

#submit{
background-color: #ffb800;
font-family: Lexend;
font-weight: 800;
text-transform: uppercase;
transition: all 0.3s;
}

#submit:hover{
scale: 1.05;
}