* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../img/cometas/stars.gif);
}

/* .seta-voltar-home {
    margin-top: 20px;
    margin-left: 15px;
}

.seta-voltar-home:hover {
    transform: scale(1.05);
} */

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/* PRIMEIRA SESSÃO - COMETAS */
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

.titulo-cometas {
    font-family: racing sans one;
    color: #ffb800;
    text-align: center;
    margin: 120px 600px 20px 600px;
    font-size: 70px;
    border-bottom: groove 2px #D9D9D9;
}

.h-cometas {
    font-family: racing sans one;
    color: white;
    text-align: center;
    font-size: 40px;
}

.p-cometas {
    font-family: roboto condensed;
    color: white;
    background-color: rgb(28, 28, 29);
    text-align: justify;
    margin: 20px 0px 20px 0px;
    max-width: 800px;
    padding: 30px;
    border-radius: 30px;
    font-size: 30px;
}

.round {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    align-self: center;
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/* SEGUNDA SESSÃO - COMETAS  */
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

.h-types-cometas {
    font-family: racing sans one;
    color: white;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 40px;
}

.type {
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0px 10px 400px;
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
    max-width: 1200px;
}

.text-types {
    display: flex;
    flex-direction: column;
    max-width: 900px;
}

h4 {
    font-family: racing sans one;
    color: #ffb800;
    margin-bottom: 20px;
    font-size: 40px;
}

.p-types {
    font-family: roboto condensed;
    color: white;
    text-align: justify;
    font-size: 30px;
}

.img-cometas {
    height: 200px;
    width: 300px;
    margin-right: 20px;
    border-radius: 20px;
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/* TERCEIRA SESSÃO - COMETAS */
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

.img-cometas {
    width: 400px;
    margin-right: 20px;
    border-radius: 20px;
}

.img-cometas2 {
    width: 400px;
    margin-right: 20px;
    border-radius: 20px;
}

.astronautinha-flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-right: 80px;
}

.balao-white {
    background-color: white;
    margin: 20px 20px 20px 20px;
    padding: 40px 40px 50px 40px;
    max-width: 1100px;
    border-radius: 0px 20px 20px 20px;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    text-align: justify;
}

.titulo-bw {
    color: #030712;
    font-size: 40px;
}

.text-bw {
    color: #030712;
    font-family: roboto condensed;
    font-size: 30px;
}

.curiosidades-cometas {
    display: flex;
    margin-left: 200px;
    margin-bottom: 50px;
    align-content: center;
}

.baloes {
    display: flex;
    flex-direction: column;
}

/*=*=*=*=*=*=*=*=*=*=*=*/
/*   IMAGENS IR PARA   */
/*=*=*=*=*=*=*=*=*=*=*=*/

.direction {
    display: flex;
    justify-content: center;
}

.direction-img {
    margin: 40px;
    border-radius: 30px;
}

.direction-img:hover {
    transform: scale(1.05);
}

/*=*=*=*=*=*=*=*=*=*/
/*     FOOTER      */
/*=*=*=*=*=*=*=*=*=*/


footer {
    width: 100%;
    color: #D9D9D9;
    background-color: #080808;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-items: center;
}

.ft-contatos img{
    width: 30px;
    padding: 10px;
    padding-top: 0%;

}

.ft-contatos{
    margin-left: 100px;
}

.ul{
    display: flex;
    list-style: none;
    gap: 5px;
    align-items: center;
}

.li{
    text-decoration: none;
    text-transform: uppercase;
    color: #D9D9D9;
    font-family: Lexend;
    transition: all 0.3s;
}

.li:hover{
    color: #ffb800;
    text-decoration: underline 2px;
}

label {
    font-size: 12px;
    font-family: Lexend;

}

#footer-subscribe{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    padding: 8px;
    border: none;
    border-radius: 10px;
}

#submit{
    background-color: #ffb800;
    font-family: Lexend;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.3s;
}

#submit:hover{
    scale: 1.05;
}
