

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(img/Earth\ View\ from\ Space.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width: 100%;
    display: flex;
    justify-content: center;
}


.form-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}


.form h2 {
    margin-bottom: 20px;
}


input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


button {
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}


button:hover {
    background-color: #45a049;
}


input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #000000;
}





