body {
    margin: 0;
    padding: 0;
    font-family: Lexend;
    text-transform: uppercase;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.631) 0%, rgba(0, 0, 0, 0.808) 100%), url(../img/img_sobre/gif-doidinho.gif) lightgray 50%;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-container {
    background: rgba(255, 255, 255, 0.413);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.form h2 {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none ;
    border-radius: 30px;
    box-sizing: border-box;
    font-family: Lexend;
    background-color: #efefef;
}

button {
    background-color: #ffb800;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #030712;
    
}

button:hover a{
    color: #d9d9d9;
}

button a{
    text-decoration: none;
    color: #030712;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #000000;
}
