*{
    max-width: 100%;

}

body{
    margin: 0;
    padding: 0;
    background-color: #000000;

}

::-webkit-scrollbar{
    width: 8px;
 
}

::-webkit-scrollbar-thumb{
    background-color: #ffb800;
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    background-color: black;
}

/*-=-=-=-=-=-=-=-*/
/*     HEADER   */
/*-=-=-=-=-=-=-=-*/

header{
    background:linear-gradient(180deg, rgba(0, 0, 0, 0.473) 0%, #000000 100%), url(../img/meteoros/meteorocapa.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    height: 1000px; 
}

h1{
    font-family: Roboto;
    width: 719px;
    position: relative;
    font-size: 117px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: Roboto;
    color: #ffb800;
    display: inline-block;
    margin-left: 50px;
}

p{

    position: relative;
    font-size: 20px;
    font-family: Roboto;
    color: #fff;
    text-align: left;
    display: inline-block;
    height: 75px;
    margin-left: 50px;
    max-width: 50%;

}


button{
    background-color: transparent;
    border: none;
    margin-left: 20px;
    margin-top: 20px;
}

button:hover{
    scale: 1.01;
}


/*-=-=-=-=-=-=-=-*/
/*     sec0   */
/*-=-=-=-=-=-=-=-*/

.sec0{
    background-image: url(../img/meteoros/reespiro.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100px;
    background-color: #000000;
}


/*-=-=-=-=-=-=-=-*/
/*     sec1   */
/*-=-=-=-=-=-=-=-*/

.sec1{
    background-color: #000000;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    padding: 10px;
}

.sec1-2{
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.img-sec1{
    background-image: url(../img/meteoros/img1.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.img-sec1-2{
    background-image: url(../img/meteoros/meteorito.png);
    background-repeat: no-repeat;
    background-size: contain;
}


.txt-sec1 h1{
    font-family: Racing Sans One;
    font-size: 40px;
    color: #d9d9d9;
   
}

.txt-sec1 p{
    font-family: Lexend;
    max-width: 100%;
    text-align: justify;
    font-size: 16px;
}

.txt-sec1{
    background-color: #030712;
    border-radius: 40px;
    padding: 40px;
    margin: 0%;
    
}



/*-=-=-=-=-=-=-=-*/
/*     sec2   */
/*-=-=-=-=-=-=-=-*/

.sec2{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #000000;
    padding: 80px;
    
}

.sec2 h1{
    font-family: Lexend;
    font-size: 40px;
    color: #d9d9d9;
}

.sec2 p{
    font-family: Lexend;
    max-width: 70%;
}

.sec3{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #000000;
    padding: 80px;
    text-align: right;
}

.sec3 h1{
    font-family: Lexend;
    font-size: 40px;
    color: #d9d9d9;
}

.sec3 p{
    font-family: Lexend;
    text-align: right;
    max-width: 70%;
}

.sec2 img{
    width: 400px;
    border-radius: 40px;
    
}

.sec3 img{
    width: 300px;
    border-radius: 40px;

}

#pamarelo{
    color: #ffb800;
}

.sec_3 {
    margin: auto;
    width: 1060px;
    text-align: center;
    margin-bottom: 50px;
}


.titulo{
    font-family: lexend;
    color: #d9d9d9;
    text-transform: uppercase;
    font-size: 40px;
}


/*-=-=-=-=-=-=-=-*/
/*   cartões Q   */

section.cardsq ul {
    display: flex;
    justify-content: center;
}

section.cardsq ul li {
    margin: 50px;
}

section.cardsq ul li img {
    box-sizing: border-box;
    width: 450px;
    border-radius: 30px;
    transition: 0.3s;
}

section.cardsq ul li img:hover {
    transform: scale(1.1);
}

/*-=-=-=--*/
/*  Last  */
/*-=-=-=--*/

.sec-final{
    background-color: #ffb800;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.sec-final p{
    font-family: Lexend;
    font-size: 16px;
    text-align: center;
    color: #303030;
    max-width: 70%;
    margin: 0%;
}


/*-=-=-=-=-=-=-=-*/
/*   Foooter     */
/*-=-=-=-=-=-=-=-*/

footer {
    width: 100%;
    color: #D9D9D9;
    background-color: #030712;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-items: center;
}

.ft-contatos img{
    width: 30px;
    padding: 10px;
    padding-top: 0%;
    
}

.ft-contatos{
    margin-left: 100px;
}

.ul{
    display: flex;
    list-style: none;
    gap: 5px;
    align-items: center;
}

.li{
    text-decoration: none;
    text-transform: uppercase;
    color: #D9D9D9;
    font-family: Lexend;
    transition: all 0.3s;
}

.li:hover{
    color: #ffb800;
    text-decoration: underline 2px;
}

label {
    font-size: 12px;
    font-family: Lexend;
}

#footer-subscribe{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    padding: 8px;
    border: none;
    border-radius: 10px;
}

#submit{
    background-color: #ffb800;
    font-family: Lexend;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.3s;
}

#submit:hover{
    scale: 1.05;
}