* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*-=-=-=-=-=-=*/
/*   HEADER   */
/*-=-=-=-=-=-=*/

.header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 20.47%, rgba(0, 0, 0, 0.55) 52.1%, #000 100%), url(../img/planetas-new/planeta-terra1.jpg) lightgray 50% / cover no-repeat;
    height: 800px;
    display: flex;
    align-items: center;
    padding: 80px;
}

.h1-header {
    font-family: roboto;
    font-size: 110px;
    color: #d9d9d9;
}

/*-=-=-=-=-=-=-=-=-=-*/
/*  MENU - PLANETAS  */
/*-=-=-=-=-=-=-=-=-=-*/

.menu {
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.link-planetas {
    font-family: roboto;
    font-weight: 300;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.link-planetas:hover {
    transform: scale(1.01);
    text-decoration: underline;
    background-image: url(../img/planetas-new/stars.gif);
}

/*-=-=-=-=-=-=-=*/
/*   O QUE É?   */
/*-=-=-=-=-=-=-=*/

.oque {
    background-color: #d9d9d9;
    display: flex;
    padding: 150px;
}

.p-oque {
    font-family: roboto condensed;
    font-size: 35px;
    width: 600px;
    text-align: justify;
}

/*-=-=-=-=-=-=-=-=-=-*/
/*   SISTEMA SOLAR   */
/*-=-=-=-=-=-=-=-=-=-*/

.sistemasolar {
    background-color: rgb(30, 30, 30);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-sistemasolar-01 {
    color: #d9d9d9;
    font-family: roboto;
    font-size: 25px;
}

.p-sistemasolar-02 {
    color: #d9d9d9;
    font-family: roboto;
    font-size: 25px;
}

/*-=-=-=-=-=-=-=-=-=-*/
/*   PARALLAX - SS   */
/*-=-=-=-=-=-=-=-=-=-*/

.parallax-sistemasolar {
    height: 700px;
    background-image: url(../img/planetas-new/sistemasolar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(60%);
}

/*-=-=-=-=-=-=-=-=-=-=-=-*/
/*   TÍTULO - CONTEÚDO   */
/*-=-=-=-=-=-=-=-=-=-=-=-*/

.titulo-conteudo {
    background-color: #030712;
    padding: 80px;
}

.h1-conteudo-principal {
    color: #d9d9d9;
    font-family: roboto;
    font-size: 80px;
    width: 800px;
}


/*-=-=-=-=-=-=-=*/
/*   PLANETAS   */
/*-=-=-=-=-=-=-=*/

.intro-planeta {
    height: 1100px;
    background-image: url(../img/planetas-new/stars.gif);
    display: flex;
    align-items: center;
    padding: 100px;

}

.img-planeta {
    height: 500px;
    border-radius: 100%;
    margin-right: 100px;
    margin-left: 150px;
}

.h1-nome-planeta {
    color: #d9d9d9;
    font-family: roboto;
    font-size: 90px;
}

.container-textos {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: row;
    padding: 80px;
    justify-content: center;
}

.text-planeta-01 {
    font-family: roboto condensed;
    font-size: 22px;
    text-align: justify;
    width: 800px;
    margin-right: 100px;
}

.text-planeta-02 {
    font-family: roboto condensed;
    font-size: 22px;
    text-align: justify;
    width: 800px;
}

/*=*=*=*=*=*=*=*=*=*/
/*     FOOTER      */
/*=*=*=*=*=*=*=*=*=*/


footer {
width: 100%;
color: #D9D9D9;
background-color: #080808;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
align-items: center;
padding-top: 20px;
padding-bottom: 20px;
justify-items: center;
}


.ft-contatos img{
width: 50px;
padding: 10px;
padding-top: 0%;

}

.ft-contatos{
margin-left: 100px;
}

.ul{
display: flex;
list-style: none;
gap: 5px;
align-items: center;

}

.li{
text-decoration: none;
text-transform: uppercase;
color: #D9D9D9;
font-family: Lexend;
transition: all 0.3s;
}

.li:hover{
color: #ffb800;
text-decoration: underline 2px;
}

label {
font-size: 12px;
font-family: Lexend;

}

#footer-subscribe{
display: flex;
flex-direction: column;
gap: 10px;
}

input{
padding: 8px;
border: none;
border-radius: 10px;
}

#submit{
background-color: #ffb800;
font-family: Lexend;
font-weight: 800;
text-transform: uppercase;
transition: all 0.3s;
}

#submit:hover{
scale: 1.05;
}