@font-face {
    font-family: racing;
    src: url(../fonts/RacingSansOne-Regular/RacingSansOne-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

body {
    background-image: url(../img/Background/Background.gif);
    background-size: 100vh;
    scroll-behavior: smooth;

    font-size: 16px;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: #ffb800;
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    background-color: black;
}

/*-=-=-=-=*/
/* HEADER */

header {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 530px;

    /* Foto escurecida */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%), url(../img/Background/foto-capa-terra.jpg);
    background-position: 0px -97.884px;
    background-size: cover;
}

.content {
    display: flex;
    align-items: center;
}

header img {
    max-width: 300px;
    margin-right: 30px;
}

.text_logo P {
    width: 500px;
    color: #D9D9D9;
    margin-bottom: 10px;
}

header h1 {
    font-family: racing;
    font-size: 5em;
    color: #D9D9D9;
    font-weight: 100;
}

.button_padrao {
    padding: 10px 35px;
    color: black;
    background-color: #FFB800;
    border-radius: 9px;
    font-weight: 700;
    transition: all 0.3s;
}

.button_padrao:hover{
    scale: 1.05;
}

/*-=-=-*/
/* NAV */

nav {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 130px;
    background-color: #030712;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

nav ul {
    display: flex;
    gap: 50px;
    font-size: 1.35em;
    font-weight: 600;
    align-items: center;
}

nav ul a {
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul input {
    background-color: #D9D9D9;
    color: black;
    text-align: center;
    width: 345px;
    height: 20px;
    border-radius: 11px;
    border-style: none;
    padding: 10px;
}

#form_busca {
    display: flex;
    gap: 20px;
    align-items: center;
}

#btn_busca {
    border: none;
    background: none;
    width: 40px;
    height: 40px;
}

#btn_busca span {
    color: white;
    font-size: 35px;
}

#btn_busca:hover {
    cursor: pointer;
}

.pag_atual {
    color: #FFB800;
    font-weight: 700;
}

#home_selecionado {
    text-decoration: underline;
    color: #FFB800;
}

/* menu burguer */

.conteiner_burguer_menu svg {
    display: none;
}

.menu_burger {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;

    position: absolute;
    display: none;
    margin-left: auto;
    background-color: #2D3133;
    border-radius: 20px;
    font-size: 18px;
    border: 5px solid #8C8273;
    width: 200px;
}

.menu_burger ul li {
    border-bottom: 2px solid black;
    padding: 10px;
    border-radius: 20px;
}

.menu_burger ul li a {
    color: white;
    font-family: racing;
    font-weight: 100;
}

.menu_burger.show {
    opacity: 1;
    visibility: visible;
}

/*-=-=-=-=-=-*/
/* SECTION 1 */

.sec1 {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: 100%;
    height: 907px;
    margin-top: 75px;

    /* MODIFIQUEI BACKGROUND-COLOR */
    background: linear-gradient(182deg, #000 2.04%, #00060D 19.49%, #010D1E 41.79%, rgba(0, 5, 12, 0.99) 65.04%, rgba(0, 0, 0, 0.98) 81.61%), rgba(3, 7, 18, 0.50);
    
    padding-left:30px ;
    padding-right:30px;
}

/* TEXT */
.sec1 h1 {
    margin-bottom: 50px;
    font-size: 8em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* efeito mascara */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/Background/mascara\ texto.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sec1 p {
    font-size: 18px;
    margin-bottom: 50px;
}

.sec1 img {
    border-radius: 100%;
    width: 790px;/* 790px*/
}

.text_button {
    display: flex;
    flex-direction: row;
    width: 550px;
    gap: 20px;
}

.text_button a {
    width: 130px;
    height: 25px;
    text-align: center;
}

#button_green {
    background-color: #1D6903;
}

/*-=-=-=-=-=-*/
/* SECTION 2 */

section.sec2 {
    display: flex;
    justify-content: center;
}

.content_sec2 {
    background-color: #D9D9D9;
    max-width: 1250px;
    min-height: 190px;
    padding: 50px;
    border-radius: 0px 30px 30px;
    margin: 50px 30px 50px 30px;
}

.sec2 h1 {
    font-family: racing;
    margin-bottom: 10px;
    font-size: 45px;
}

.sec2 P {
    font-weight: 400;
    text-align: justify;
    color: black;
    font-family: Lexend;
}

/*-=-=-=-=-=*/
/* CARROSEL */

div.swiffy-slider {
    max-width: 1069px;
    height: 404px;
    margin: 50px auto;
}

div.swiffy-slider ul li img {
    border-radius: 10px;
}

video::-webkit-media-controls {
    display: none;
}

/*-=-=-=-=-=-=-=-*/
/* SECTION 3 1/2 */

.sec3_paralax {
    width: 100%;
    height: 600px;
    background-image: url(../img/Background/astronauta\ na\ lua\ paralax.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 80px;
    filter: brightness(80%);
}

.sec3_paralax h2 {
    font-size: 5.2em;
    color: white;
    margin: 0px 0px 30px 50px;
}

.sec3_paralax p {
    font-size: 1.3em;
    color: white;
    margin-left: 70px;
}

.sec3_paralax a {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin: 30px 0px 0px 60px;
    width: 190px;
}

.sec3_paralax a:hover .link-text {
    text-decoration: underline;
}

.sec3_paralax a span.material-symbols-outlined {
    margin-left: 8px;
    font-size: 1.5em;
    color: #FFB800;
}

/*-=-=-=-=-=-=-=-*/
/* SECTION 3 2/2 */

.sec3_sobrelua {
    background-color: #080808;
    color: white;
    min-height: 242px;
    margin-bottom: 100px;
    margin: auto;
    padding-top: 30px;
    margin-bottom: 100px;
}

.sec3_sobrelua h2 {
    font-size: 1.6em;
    font-weight: bold;
    margin: 5px 0px 10px 50px;
    width: 300px;
}

.sec3_sobrelua ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.sec3_sobrelua ul li img {
    max-height: 150px;
    max-width: 150px;
    border-radius: 50%;
    margin: 10px;
}

.sec3_sobrelua ul li {
    margin: 10px;
    display: flex;
    width: 410px;
}

.colum_lua {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.colum_lua h3 a {
    color: #FFB800;
    font-weight: bold;
    font-size: 1.25em;
}

.colum_lua h3 a:hover {
    text-decoration: underline;
}

.titulo-lua-terra {
    color: #FFB800;
    font-weight: bold;
    font-size: 1.5em;
}

/*-=-=-=-=-=-*/
/* cartões Q */

.cardsq h2 {
    text-align: center;
    color: white;
    font-family: racing;
    font-size: 200%;/* 40px */
    letter-spacing: 4px;
}

section.cardsq ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section.cardsq ul li {
    margin: 30px;
}

section.cardsq ul li img {
    box-sizing: border-box;
    width: 410px;
    border-radius: 30px;
    transition: transform 0.3s;
    /* Adiciona uma transição suave para a transformação */
}

section.cardsq ul li img:hover {
    transform: scale(1.1);
    /* Aumenta o tamanho em 10% ao passar o mouse */
}

/*-=-=-=-=-=-*/
/* SECTION 4 */

.sec4 {
    width: 100%;
    height: 600px;
    background-image: url(../img/Você_sabia_que_estamos_cercados/foto\ _você\ sabia\ que\ estamos\ cercados_.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 80px;
    filter: brightness(80%);
    margin-top: 50px;
}

.sec4 h2 {
    font-size: 5.2em;
    color: white;
    margin: 0px 0px 30px 50px;
}

.sec4 p {
    font-size: 1.3em;
    color: white;
    margin-left: 70px;
}

.sec4 a {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin: 30px 0px 0px 60px;
    width: 190px;
}

.sec4 a:hover .link-text {
    text-decoration: underline;
}

.sec4 a span.material-symbols-outlined {
    margin-left: 8px;
    font-size: 1.5em;
    color: #FFB800;
}

/*-=-=-=-=-=-*/
/* SECTION 5 */

.sec5_head {
    width: 1230px;
    height: 150px;
    padding: 20px;
    margin: auto;
    background-color: white;
    color: black;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec5_head h2 {
    font-family: racing;
    font-size: 4em;
    margin-right: 30px;
}

.sec5_head p {
    font-size: bold;
}

.primeiro {
    background-image: url('../img/Planetas anões/1.png');
}

.segundo {
    background-image: url('../img/Planetas anões/2.png');
}

.terceiro {
    background-image: url('../img/Planetas anões/3.png');
}

.quarto {
    background-image: url('../img/Planetas anões/4.png');
}

.cinco {
    background-image: url('../img/Planetas anões/5.png');
}

.container_sec5 {
    width: 1270px;
    height: 600px;
    display: flex;
    flex-direction: row;
    border-radius: 0px 0px 30px 30px;
    margin: auto;
}

.item {
    flex-grow: 1;
    background-position: left center;
    background-size: cover;
    position: relative;
    list-style: none;
    transition: all 0.7s ease-in-out; /* início e fim lentos*/
    filter: grayscale(100%);
}

.item:hover {
    flex-grow: 3;
}

.item a {
    width: 100%;
    height: 100%;
    position: absolute;
    text-decoration: none;
    font-weight: bold;
    color: #FFB800;
    font-size: 0;
    text-transform: uppercase;
    transition: all 0.5s ease-out;
}

.item p {
    margin: 50px;
    font-family: racing;
}

.text_sec5 {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.item:hover,
.item a:hover {
    font-size: 35px;
    filter: grayscale(0);
}

.item a:hover .text_sec5 {
    font-size: 20px;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=*/
/* SECTION Ventos Solares */

.solarwind {
    box-sizing: border-box;
    margin: auto;
    display: flex;
    /* min-height: 707px; */
    min-height: 527px;
    padding: 30px;
    background-color: #030712;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    align-items: center;
    max-width: 100%;
}

#wrapper-solarwind {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    color: white;
    background-color: #030712;
}

#wrapper-solarwind h1 {
    font-size: 100px;
    color: #FFB800;
}

#wrapper-solarwind p {
    text-align: justify;
}

#text-solarwind {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 20px;
}

#photos-solarwind {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    align-items: center;
    gap: 15px;
    grid-template-areas:
        "one two"
        "three four"
        "five six";
}

#photos-solarwind img {
    width: 300px;
    height: 200px;
    border-radius: 5px;
}

#one {
    grid-area: one;
}

#one:hover {
    transform: scale(1.3);
    transition: transform 0.5s;
    box-shadow: 2px 2px 20px 2px #000;
    border-radius: 8px;
}

#two {
    grid-area: two;
}

#two:hover {
    transform: scale(1.3);
    transition: transform 0.5s;
    box-shadow: 2px 2px 20px 2px #000;
    border-radius: 8px;
}

#three {
    grid-area: three;
}

#three:hover {
    transform: scale(1.3);
    transition: transform 0.5s;
    box-shadow: 2px 2px 20px 2px #000;
    border-radius: 8px;
}

#four {
    grid-area: four;
}

#four:hover {
    transform: scale(1.3);
    transition: transform 0.5s;
    box-shadow: 2px 2px 20px 2px #000;
    border-radius: 8px;
}

#five {
    grid-area: five;
}

#five:hover {
    transform: scale(1.3);
    transition: transform 0.5s;
    box-shadow: 2px 2px 20px 2px #000;
    border-radius: 8px;
}

#six {
    grid-area: six;
}

#six:hover {
    transform: scale(1.3);
    transition: transform 0.5s;
    box-shadow: 2px 2px 20px 2px #000;
    border-radius: 8px;
}

/* Buttons */

#buttons-solarwind {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

#explorar {
    background-color: #FFB800;
    width: 220px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
}

.ibutton {
    text-align: center;
    width: 160px;
}

#galeria {
    background-color: #1D6903;
    width: 220px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
}

/*voltar ao topo */
#flex-voltar {
    text-align: end;
}

#flex-voltar a,
#flex-voltar a img {
    margin-right: 15px;
}

/*-=-=-=-=-*/
/* Foooter */

footer {
    width: 100%;
    color: #D9D9D9;
    background-color: #030712;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-items: center;
    min-height: 100px;
}

.ft-contatos img{
    width: 30px;
    padding: 10px;
    padding-top: 0%;
    
}

.ft-contatos{
    margin-left: 100px;
}

.ul{
    display: flex;
    list-style: none;
    gap: 5px;
    align-items: center;
}

.li{
    text-decoration: none;
    text-transform: uppercase;
    color: #D9D9D9;
    font-family: "Lexend";
    transition: all 0.3s;
}

.li:hover{
    color: #ffb800;
    text-decoration: underline 2px;
}

label {
    font-size: 12px;
    font-family: "Lexend";
}

#footer-subscribe{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    padding: 8px;
    border: none;
    border-radius: 10px;
}

#submit{
    background-color: #ffb800;
    font-family: "Lexend";
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.3s;
}

#submit:hover{
    scale: 1.05;
}

/*=-=-=-=--=-=-=-=*/
/* VOLTAR AO TOPO */

#voltartopo {
    width: 80px;
    margin-left: 10px;
    margin-bottom: 8px
}

.linktopo {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: small; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.linktopo:hover {
    color: #FFB800;
    text-decoration: underline;
    scale: 1.07;
}
