@media screen and (max-width: 1606px) {
    .sec3_sobrelua ul li h3 {
        font-size: 23px;
    }

    .sec3_sobrelua ul li p {
        font-size: 15px;
    }

    .sec3_sobrelua ul li img {
        max-width: 100px;
    }
}

@media screen and (max-width: 1500px) {

    section.cardsq ul li img {
        width: 320px;
    }

    .sec1 img {
        width: 590px; /*790*/
    }

    .sec1 h1 {
        font-size: 7.5em;
    }

    .sec1 p {
        font-size: 15px;
    }

    .cardsq h2 {
        font-size: 200%;
    }
}

@media screen and (max-width: 1370px) {
    .ul li {
        font-size: 14px;
    }
}

@media screen and (max-width: 1300px) {
    nav ul {
        font-size: 1em;
    }

    nav ul input {
        padding: 5px;
        width: 300px;
    }

    #photos-solarwind img {
        width: 200px;
        height: 100px;
    }

    #photos-solarwind {
        max-height: 400px;
    }
}

@media screen and (max-width: 1198px) {

    section.cardsq ul li img {
        width: 220px;
    }

    .sec1 img {
        width: 470px; /*790*/
    }

    .sec1 h1 {
        font-size: 6.5em;
    }

    .sec1 p {
        font-size: 13px;
    }

    .cardsq h2 {
        font-size: 30px;
    }

    #footer-subscribe {
        display: none;
    }

    footer {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1123px) {

    .cardsq h2 {
        font-size: 25px;
    }

    .conteiner_carrosel {
        display: none;
    }
}

@media screen and (max-width: 1071px) {

    header {
        height: 390px;
    }

    header img {
        max-width: 150px;
        margin-right: 30px;
    }

    nav ul {
        font-size: .8em;
    }

    nav ul input {
        padding: 5px;
        width: 200px;
    }

    #btn_busca span {
        font-size: 25px;
    }

    .text_logo P {
        width: 350px;
        font-size: 13px;
    }

    header h1 {
        font-size: 4em;
    }

    .button_padrao{
        font-size: 12px;
        padding: 8px 14px;
    }

    .text_planeta_terra__sec1 {
        width: 400px;
    }

    .sec1 h1 {
        font-size: 5.5em;
    }

    .sec1 p {
        font-size: 13px;
    }

    .sec2 P {
        font-size: 13px;
    }

    .sec2 h1 {
        font-size: 35px;
    }

    .content_sec2 {
        padding: 33px 35px;
    }

    .sec3_sobrelua ul li h3 {
        font-size: 18px;
    }

    .sec3_sobrelua ul li p {
        font-size: 13px;
    }

    .sec3_sobrelua ul li img {
        max-width: 90px;
    }

    .sec3_paralax,
    .sec4 {
        height: 500px;
    }

    .sec3_paralax h2,
    .sec4 h2{
        font-size: 3.6em;
    }

    .sec3_paralax p,
    .sec3_paralax a,
    .sec4 p,.sec4 a {
        font-size: 1.25em;
        max-width: 850px;
        margin-right: 20px;
    }

    #wrapper-solarwind h1 {
        font-size: 80px;
        text-align: center;
    }

    #wrapper-solarwind p {
        max-width: 500px;
        font-size: 12px;
        text-align: center;
        margin: 10px auto;
    }

    #wrapper-solarwind {
        flex-direction: column;
    }

    #photos-solarwind {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    #photos-solarwind img {
        margin: 10px;
    }

    #one:hover,
    #two:hover,
    #three:hover,
    #four:hover,
    #five:hover,
    #six:hover {
        transform: scale(1.1);
        transition: .5s;
        box-shadow: 2px 2px 20px 2px #000;
        border-radius: 8px;
    }

    #text-solarwind {
        width: 100%;
        margin: auto;
    }

    #buttons-solarwind {
        margin: auto;
    }

    #flex-voltar a img {
        width: 60px;
    }

    #flex-voltar a {
        font-size: 10px;
    }
}

@media screen and (max-width: 900px) {

    header {
        height: 300px;
    }

    .conteiner_nav {
        display: none;
    }

    nav {
        justify-content: initial;
    }

    .menu_burger {
        display: block;
    }

    .conteiner_burguer_menu svg{
        display: block;
        margin-left: 50px;
        cursor: pointer;
    }

    section.cardsq ul li img {
        width: 175px;
    }

    .sec1 {
        max-height: 700px;
    }

    .sec1 img {
        display: none;
    }

    .text_planeta_terra__sec1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 720px;
        margin: auto;
    }

    .sec1 h1 {
        font-size: 6.5em;
    }

    .sec1 p {
        font-size: 16px;
    }

    .text_button a{
        font-size: 15px;
        padding: 9px 18px;
    }

    .text_button {
        justify-content: space-around;
    }

    .sec3_sobrelua ul li h3 {
        font-size: 15px;
    }

    .sec3_sobrelua ul li p {
        font-size: 11px;
        max-width: 200px;
    }

    .sec3_sobrelua ul li img {
        max-width: 70px;
    }

    .sec3_sobrelua ul li {
        max-width: 230px;
    }

    #Logo_footer {
        width: 180px;
    }

    footer .ul li a {
        font-size: 12px;
        display: flex;
        flex-direction: column;
    }

    .ft-contatos {
        margin-left: 80px;
    }

    .ft-logo img {
        width: 20px;
    }

    ul.ul {
        margin-right: 12px;
    }
}

@media screen and (max-width: 750px) {
    footer .ul li a {
        font-size: 10px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 650px) {

    header img {
        max-width: 140px;
        margin-right: 30px;
    }

    .text_logo h1 {
        width: 280px;
    }

    .text_logo P {
        width: 280px;
        font-size: 11px;
    }

    header h1 {
        font-size: 3.3em;
    }

    #Logo_footer {
        width: 150px;
        
    }

    .ft-contatos {
        margin-left: 50px;
        display: none;
    }

    .ft-logo img {
        width: 18px;
    }
}

@media screen and (max-width: 600px) {

    .sec1 h1 {
        text-align: center;
        font-size: 6em;
    }

    .sec1 p {
        text-align: center;
        font-size: 13px;
    }

    header {
        height: 250px;
    }

    .text_button {
        margin: 0;
        width: 400px;
    }

    .sec3_paralax h2,
    .sec4 h2{
        font-size: 2.6em;
    }

    .sec3_paralax p,
    .sec3_paralax a,
    .sec4 p,.sec4 a {
        font-size: 1em;
    }

    .sec3_sobrelua ul li h3 {
        font-size: 13px;
    }

    .sec3_sobrelua h2 {
        font-size: 1.2em;
    }

    .sec3_sobrelua ul li p {
        font-size: 9px;
    }

    .sec3_sobrelua ul li img {
        max-width: 50px;
    }

    .sec3_sobrelua ul li {
        max-width: 200px;
    }

    .sec4 h2 {margin: 0px 0px 30px 20px;}
    .sec3_paralax h2 {margin: 0px 0px 30px 20px;}

    .sec4 p,
    .sec3_paralax p {
        margin-left: 40px;
    }

    .sec4 a,
    .sec3_paralax a {
        margin: 30px 0px 0px 35px;
    }
}

@media screen and (max-width: 520px) {
    header {
    height: 230px;
    }
}
